@import 'tailwindcss';

@source './components/**/*.{js,ts,jsx,tsx}';
@source './pages/**/*.{js,ts,jsx,tsx,mdx}';
@source './theme.config.tsx';

@custom-variant dark (&:is(.dark, .dark *));

/*
i added this because i am pretty sure nextra is winning in specificity for header styles which fucked
up some of the landing page. i am too lazy to do this correctly, so am basically just resetting
all header styles to override nextra
*/
* {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: revert-layer;
		font-weight: revert-layer;
		line-height: revert-layer;
	}
}
